/* global rules: */
.only-mobile { display:none; }



















/* buttons: */
.danger-buttons {
  color:white;
  background:#FF5722;
}










/* different page layout rules */

[data-page-name="manage-users-page"] #user-list {
  width: 100%;
  background: white; }

[data-page-name="manage-users-page"] #user-list .tr {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  flex-direction: row;
  justify-content: space-between; }

[data-page-name="manage-users-page"] #user-list #header-row { display:flex; }

[data-page-name="manage-users-page"] #user-list .td {
  display:flex;
  padding:10px;
  align-items:center;
  justify-content: center;
  flex-direction: row;}

[data-page-name="manage-users-page"] #user-list .field-values {
  overflow: hidden;
  text-overflow: ellipsis; 
}

[data-page-name="manage-users-page"] #user-list .row-button-wraps .buttons {
  margin:0 10px;
  padding:12px 20px; }

[data-page-name="manage-users-page"] #user-list .uncommited {
  color:grey;
}

[data-page-name="manage-users-page"] #user-list .admin-action-texts {
  margin-left:0.5em;
}

[data-page-name="manage-users-page"] #banner-picture {
  background-image: url("../assets/images/panel_image.png"); }

[data-page-name="manage-users-page"] h4 {
  margin:40px 0 30px 0;
}




/*
  --------------------------
    TABLET SCREEN RULES:
  --------------------------
                */

@media only screen and (max-width: 640px) {




  .only-mobile { display:block; }






  [data-page-name="manage-users-page"] #user-list .tr {
   flex-direction: column;
    padding:2em 1em;
  }
  [data-page-name="manage-users-page"] #user-list #header-row { display:none; }
  [data-page-name="manage-users-page"] #user-list .td { width: 100% !important }
  [data-page-name="manage-users-page"] #user-list .td:not(:first-of-type) { justify-content: space-between; }
  [data-page-name="manage-users-page"] #user-list .mobile-labels { display: inline-block; }
}